@media screen and (min-width: 480px) {
  .container {
    width: 428px;
  }
  .hero {
    padding: 112px 0;
    height: 442px;
  }
  
  
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .mobile-btn {
    display: none;
  }
}




@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
  .contact-list {
    display: flex;
    gap: 40px;
  }
  .hero {
    padding: 188px 0;
    height: 600px;
  }
  .list-strategy{
    display: flex;
    gap: 24px;
  }
  .item-strategy{
    width: calc((100% - 3 * 24px) / 4);
  }
  /* ========section */
.section {
    padding: 120px 0;
  }
  .section-doing {
    padding-bottom: 120px;
  }
  .list-doing {
    display: flex;
    gap: 24px;
  }
  .section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }
  .section-team {
    padding: 120px 0;
  }
  .list-team{
    display: flex;
    gap: 24px;
  }
  .list-item{
    width: calc((100% - 3 * 24px) / 4);
  }
  .brand-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }
  .footer-flex {
    display: flex;
    align-items: baseline;
    gap: 120px;
  }
}



@media screen and (max-width: 767px) {
  .main-nav {
    display: none;
  }
  .contact {
    display: none;
  }
  .container-nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-btn {
    background-color: transparent;
    border: none;
    letter-spacing: 0;
  }
  .hero {
    padding: 112px 0;
    height: 442px;
  }
  .hero-text {
    margin-bottom: 72px;
    width: 320px;
    font-size: 36px;
    line-height: 1.1;
  }
  .section{
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .strategy-div {
    display: none;
  }
  .caption-mobile {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .item-strategy + .item-strategy{
    margin-top: 72px;
  }
  .section-doing {
    display:none;
  }
  .list-item{
    margin-right: auto;
    margin-left: auto;
    width: 264px;
    height: 428px;

  }
  .list-item + .list-item{
    margin-top: 72px;
  }
  .brand-item {
    width: calc((100% - 16px) / 2);
    height: 88px;
  }
  .flex-container{
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 72px;

  }

  .flex-container{
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
  }
  .social-container{
    margin-bottom: 72px;
    text-align: center;

  }
  .footer-subscribe{
    text-align: center;
  }
  .footer-form{
    display: block;
  }
  .footer-input{
    width: 100%;
    margin-bottom: 16px;
   
  }
  .footer-subscribe button{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .hero-text {
    margin-bottom: 36px;
  }
  .strategy-div {
    display: none;
  }
  .section{
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .section-doing {
    display:none;
  }
  .caption-mobile {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .list-strategy{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    
  }
  .item-strategy{
    width: calc((100% - 24px) / 2);
    text-align-last: left;
  }
  .list-team{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    row-gap: 72px;
  }
  .list-item{

  }


  .list-brand {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
  .brand-item {
    width: calc((100% - 48px) / 3);
    height: 88px;
  }
  .footer-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .flex-container{
    margin-right: 24px;
    margin-bottom: 72px;
  }
  .footer-subscribe{
  }
}
